<nav class="navbar navbar-expand-lg bg-success navbar-dark">
  <div class="container-fluid">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgQjnTSCZWJGeXPaswqy7qtLbwshyoyjRdk9Rv5JrdQNi5l4VqHDjL_vO4&s=10" alt="Logo" width="50" height="44" class="d-inline-block align-text-top">
    </a>, 
    <a class="navbar-brand" href="#">Dhaka College Psychology Society</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
      <div class="navbar-nav ms-auto">
        
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        
        <a class="nav-link" href="{% url 'allarticles' %}">Articles</a>
        <a class="nav-link" href="{% url 'about' %}">About</a>
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    


      </div>
    </div>
  </div>
</nav>